PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=MYSQL_PAROLANIZ
DB_NAME=ecommerce
JWT_SECRET=BURAYA_UZUN_RASTGELE_BIR_DEGER_YAZIN
ELASTICSEARCH_ENABLED=true
ELASTICSEARCH_URL=http://127.0.0.1:9200
ELASTICSEARCH_INDEX=products
